.header {
  display: flex;
  justify-content: center;
}
.socialmedia {
  position: absolute;
  top: 1px;
  right: 1px;
}
.selection {
  display: flex;
  justify-content: space-evenly;
  width: 250px;
}
body {
  background-image: url("img/butts.gif");
  background-repeat: no-repeat;
}
.sidebar {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 200px;
  height: 800px;
  color: white;
}
.sidebar img {
  max-width: 64px;
}
.siderow {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.sidebar p {
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
  margin-top: 0px;
  color: red;
}
.carousel {
  display: flex;
  right: -350px;
  top: -750px;
  width: 700px;
}
.box {
  margin: 250px;
  padding: 20px 10px 20px 15px;
  border: 5px solid #800;
  background-color: red;
  width: 400px;
  position: absolute;
  top: 1px;
  right: 1px;
  font-size: 13px;
}
.showbox {
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.siderow:hover {
  cursor: pointer;
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -o-transform: scale(2);
  -ms-transform: scale(2);
  transform: scale(2);
}
